In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/amazon-customers-data/Reviews.csv
/kaggle/input/amazon-customers-data/database.sqlite

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sqlite3
import nltk
import string

In [3]:
#create a SQL connection to our SQLite database
con = sqlite3.connect('../input/amazon-customers-data/database.sqlite')

In [4]:
df = pd.read_csv("../input/amazon-customers-data/Reviews.csv")

In [5]:
df.columns

Index(['Id', 'ProductId', 'UserId', 'ProfileName', 'HelpfulnessNumerator',
       'HelpfulnessDenominator', 'Score', 'Time', 'Summary', 'Text'],
      dtype='object')

In [6]:
pd.read_sql_query("SELECT * FROM Reviews", con)

,Id,ProductId,UserId,ProfileName,HelpfulnessNumerator,HelpfulnessDenominator,Score,Time,Summary,Text
0,1,B001E4KFG0,A3SGXH7AUHU8GW,delmartian,1,1,5,1303862400,Good Quality Dog Food,I have bought several of the Vitality canned d...
1,2,B00813GRG4,A1D87F6ZCVE5NK,dll pa,0,0,1,1346976000,Not as Advertised,Product arrived labeled as Jumbo Salted Peanut...
2,3,B000LQOCH0,ABXLMWJIXXAIN,"Natalia Corres ""Natalia Corres""",1,1,4,1219017600,"""Delight"" says it all",This is a confection that has been around a fe...
3,4,B000UA0QIQ,A395BORC6FGVXV,Karl,3,3,2,1307923200,Cough Medicine,If you are looking for the secret ingredient i...
4,5,B006K2ZZ7K,A1UQRSCLF8GW1T,"Michael D. Bigham ""M. Wassir""",0,0,5,1350777600,Great taffy,Great taffy at a great price. There was a wid...
...,...,...,...,...,...,...,...,...,...,...
568449,568450,B001EO7N10,A28KG5XORO54AY,Lettie D. Carter,0,0,5,1299628800,Will not do without,Great for sesame chicken..this is a good if no...
568450,568451,B003S1WTCU,A3I8AFVPEE8KI5,R. Sawyer,0,0,2,1331251200,disappointed,I'm disappointed with the flavor. The chocolat...
568451,568452,B004I613EE,A121AA1GQV751Z,"pksd ""pk_007""",2,2,5,1329782400,Perfect for our maltipoo,"These stars are small, so you can give 10-15 o..."
568452,568453,B004I613EE,A3IBEVCTXKNOH,"Kathy A. Welch ""katwel""",1,1,5,1331596800,Favorite Training and reward treat,These are the BEST treats for training and rew...
568453,568454,B001LR2CU2,A3LGQPJCZVL9UC,srfell17,0,0,5,1338422400,Great Honey,"I am very satisfied ,product is as advertised,..."

# THESE ARE USEFUL QUERIES THAT ARE CAN BE CUSTOMIZED FOR THIS DATASET :

In [7]:
#Find the cities with the most customers and rank in descending order. 
"""
SELECT City,
       COUNT(*)
FROM Customers
GROUP BY City
ORDER BY COUNT(*) DESC

"""

'\nSELECT City,\n       COUNT(*)\nFROM Customers\nGROUP BY City\nORDER BY COUNT(*) DESC\n\n'

In [8]:
#Retrieve all the records from the Employees table.

"""

SELECT * FROM Employees

"""
#Retrieve the FirstName, LastName, Birthdate, Address, City, and State from the Employees table.

"""
SELECT FirstName, LastName, Birthdate, Address, City, State 
FROM Employees
WHERE BirthDate = '1965-03-03 00:00:00'

"""

"\nSELECT FirstName, LastName, Birthdate, Address, City, State \nFROM Employees\nWHERE BirthDate = '1965-03-03 00:00:00'\n\n"

In [9]:
#Retrieve all the columns from the Tracks table, but only return 20 rows.

"""

SELECT * from Tracks
LIMIT 20

"""

'\n\nSELECT * from Tracks\nLIMIT 20\n\n'

In [10]:
#Find all the tracks that have a length of 5,000,000 milliseconds or more.

"""
SELECT COUNT(TrackId)
FROM TRACKS
WHERE Milliseconds >= 5000000 
"""

'\nSELECT COUNT(TrackId)\nFROM TRACKS\nWHERE Milliseconds >= 5000000 \n'

In [11]:
#Find all the invoices whose total is between $5 and $15 dollars.

"""

SELECT InvoiceID,Total
FROM Invoices
WHERE Total > 5 AND Total < 15


"""

'\n\nSELECT InvoiceID,Total\nFROM Invoices\nWHERE Total > 5 AND Total < 15\n\n\n'

In [12]:
#Find all the customers from the following States: RJ, DF, AB, BC, CA, WA, NY.

"""
SELECT FirstName, LastName, Company, State
FROM Customers
WHERE State IN ('RJ','DF','AB','BC','CA','WA','NY')
"""

"\nSELECT FirstName, LastName, Company, State\nFROM Customers\nWHERE State IN ('RJ','DF','AB','BC','CA','WA','NY')\n"

In [13]:
#Find all the invoices for customer 56 and 58 where the total was between $1.00 and $5.00.

"""

SELECT CustomerId, InvoiceId, Total, InvoiceDate
FROM Invoices
WHERE CustomerID IN (56,58) AND 
Total BETWEEN 1 AND 5

"""

'\n\nSELECT CustomerId, InvoiceId, Total, InvoiceDate\nFROM Invoices\nWHERE CustomerID IN (56,58) AND \nTotal BETWEEN 1 AND 5\n\n'

In [14]:
#Find all the tracks whose name starts with 'All'.

"""

SELECT TrackId, Name
FROM Tracks
WHERE Name LIKE 'All%'

"""

"\n\nSELECT TrackId, Name\nFROM Tracks\nWHERE Name LIKE 'All%'\n\n"

In [15]:
#Find all the customer emails that start with "J" and are from gmail.com.

"""

SELECT CustomerId, Email
FROM Customers
WHERE Email LIKE "J%@gmail.com"


"""

'\n\nSELECT CustomerId, Email\nFROM Customers\nWHERE Email LIKE "J%@gmail.com"\n\n\n'

In [16]:
#Find all the invoices from Brasilia, Edmonton, and Vancouver and sort in descending order by invoice ID.

"""
SELECT InvoiceId, BillingCity, Total
FROM Invoices
WHERE BillingCity IN ('Brasilia','Edmonton','Vancouver')
ORDER BY InvoiceId DESC

"""
#Show the number of orders placed by each customer and sort the result by the number of orders in descending order.

"""

SELECT CustomerId, COUNT(*) AS Orders
FROM Invoices
GROUP BY CustomerId
ORDER BY Orders DESC

"""

#Find the albums with 12 or more tracks.

"""

SELECT AlbumId, Count(*) AS Ntracks
FROM Tracks
GROUP BY AlbumId
HAVING COUNT (*) >= 12

"""

'\n\nSELECT AlbumId, Count(*) AS Ntracks\nFROM Tracks\nGROUP BY AlbumId\nHAVING COUNT (*) >= 12\n\n'

In [17]:
SELECT  count(gender), max(revenu), min(revenu), avg(revenu) avg_revenue, count(behavior) FROM user_tables 
GROUP BY region
WHERE gender = "M" and revenu > avg_revenue and region = 'la marsa' 

----------------------------------------------------------------------------------------------------------------------------------------
2- 
Here’s an example of an SQL query that pulls client performance data by  c_ID , region ,Group , Subsciption and  metrics (i.e. purchases , behavior ) 

SELECT c_ID, region ,Group , Subsciption, SUM(purchases) toatal purchases, SUM(behavior) total behavior , AVG(purchases) , AVG(behavior)   

FROM `my-dataset`

GROUP BY c_ID, region , Group

ORDER BY toatal purchases DESC

LIMIT 1000
----------------------------------------------------------------------------------
3- 

SELECT Date,
       SUM(purchases) AS total_purchases
FROM my_dataset
WHERE Date BETWEEN '2021-05-01' AND '2021-06-01'
GROUP BY Date
HAVING  SUM(total_purchases) > 100
ORDER BY Date DESC 
---------------------------------------------------------------------------------------------------------------------------------------
4- 

SELECT AVG(purchases)
FROM my_dataset 

SELECT c_ID, SUM(purchases) , AVG(purchases) 
 WHERE (region, Group, age_range) = ('TUNIS', 'high users', '18-24')  
 FROM products
 GROUP BY c_ID  
-------------------------------------------------------------------------------------------------------------------
5- 
SQL statement which selects the highest purchases  for each of the regions of the customers.

SELECT region ,MAX(purchases) 
FROM my_datatset
GROUP BY region
-----------------------------------------------------------------------------------------------------------------------
6- 

#purchases greater than the average 
SELECT COUNT(*) FROM products WHERE purchases > AVG(purchases) 
-------------------------------------------------------------
7- 
#select the c_ID , region , group with maximum purchases
SELECT c_ID, region,Group MAX(purchases) FROM products
SELECT c_ID, region,Group  MAX(behavior) FROM products
--------------------------------------------------------------
8- 
# extract the region where there are low purchases amounts

SELECT MIN(purchases)
FROM `my_dataset`
WHERE `Group` = 'High value customers' AND `region` = 'TUNIS' 


SELECT c_ID, Group, purchases
  FROM titles
  WHERE NOT Group = 'Y' OR Group = 'Z'
        AND NOT purchases < 20;  

 SELECT c_ID,
         type = 'X' AS "X_type",
         type = 'Y' AS "Y_type",
         purchases,
         purchases < 20 AS "<20?"
    FROM my_dataset;  
     
--------------------------------------------------------------
9-
SELECT `Group`, MIN(purchases)
FROM `my_dataset`
GROUP BY `Group` 
--------------------------------------------------------------
10- 
SELECT c_ID , SUM(purchases) AS total_purchases
FROM my_dataset
WHERE region = 'TUNIS' 
--------------------------------------------------------------
11- 
SELECT * FROM my_dataset
WHERE Group = 'x' AND purchases < 20 

SELECT * FROM my_dataset
WHERE region = 'Monastir' OR purchases = AVG(purchases)  

SELECT * FROM my_dataset
WHERE ( Group = 'x' AND purchases < 20 )
OR ( region = 'Monastir' AND purchases < 200 ) 
---------------------------------------------------------------
12- 
SELECT count(gender), max(revenu), min(revenu), avg(revenu), count(behavior)
FROM my_dataset
WHERE region IN ('TUNIS', 'ARIANA','BEN AAROUS' ,'MANOUBA') 
--------------------------------------------------------------------------------
14- 
SELECT *
FROM my_dataset
WHERE Age BETWEEN 18 AND 24 
--------------------------------------------------------------------------------
15- 
#la liste des clients qui ont des purchases plus de 40 :

SELECT c_ID, SUM(purchases)
FROM my_dataset
GROUP BY c_ID
HAVING SUM(purchases) > 40  

SELECT region, SUM(purchases)
FROM my_dataset
GROUP BY region
HAVING SUM(purchases) > 40  

SELECT Group, SUM(purchases)
FROM my_dataset
GROUP BY Group 
HAVING SUM(purchases) > 40  

-------------------------------------------------------------------------------------------------
16- 
we can compute a moving average that averages the previous three periods for example :

select period, 
       purchases, 
       avg(purchases) over (order by period rows between 3 preceding and current row)
from my_dataset;
 
---------------------------------------------------------------------------------------------------
17- 
Top client Per Region    : it gives like a bonus or gold client per region ! ((Graph to show in Map the top client )) 
select *
from
(
     select region, 
            c_ID, 
            rank() over(partition by region order by sum(purchases) desc) as ranking
     from my_dataset 
     group by region, 
              c_ID 

) temp
where ranking = 1
------------------------------------------------------------------------------------------------------
18- 
#select top 10  purchases	
SELECT TOP (10) c_ID, 
                purchases, 
                region, 
                Group
FROM My_dataset
ORDER BY purchases;
-------------------------------------------------------------------------------------------------------
19- 
#the top K purchasess along with their ranking.( K = 10 , TOP 10 ) 
 
 SELECT c_ID, purchases, 
        RANK() OVER(ORDER BY purchases DESC),
        DENSE_RANK() OVER(ORDER BY purchases DESC),
        ROW_NUMBER() OVER(ORDER BY purchases DESC)  
 FROM my_dataset
 FETCH FIRST K ROWS ONLY
-------------------------------------------------------------------------------------------------------
20- 
find out which region//GROUP//SUBSCRIPTION has the highest average spening//behavior. The following query groups the data by region, determines the average purchases for each region, and ranks the resulting averages. 

SELECT region, INT(AVG(purchases)) AS AVERAGE, 
         RANK() OVER(ORDER BY AVG(purchases) DESC) AS AVG_purchases 
   FROM My_dataset 
   GROUP BY  region 

SELECT Group, INT(AVG(purchases)) AS AVERAGE, 
         RANK() OVER(ORDER BY AVG(purchases) DESC) AS AVG_purchases 
   FROM My_dataset 
   GROUP BY  Group

SELECT Subscription, INT(AVG(purchases)) AS AVERAGE, 
         RANK() OVER(ORDER BY AVG(purchases) DESC) AS AVG_purchases 
   FROM My_dataset 
   GROUP BY  Subscription 
----------------------------------------------------------------------------------------------------------
21- 
The list of employees along with how their behavior//purchases ranks within their regions. 


SELECT c_ID, region, behavior, 
        DENSE_RANK() OVER(PARTITION BY region ORDER BY behavior DESC) 
          AS behavior_RANK_IN_region 
   FROM my_dataset
   WHERE region IN ('TUNIS', 'ARIANA','BEN AAROUS' ,'MANOUBA')  

SELECT c_ID, region, purchases, 
        DENSE_RANK() OVER(PARTITION BY region ORDER BY purchases DESC) 
          AS purchases_RANK_IN_region 
   FROM my_dataset
   WHERE region IN ('TUNIS', 'ARIANA','BEN AAROUS' ,'MANOUBA')

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 69)

# CREDITDS :

[GitHub SQL-for-Data-Science](https://github.com/trentparkinson/SQL-for-Data-Science)